.App {
	text-align: center;
	height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}
p {
	color: #263238;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.App {
	background-position: center !important;
	background-size: cover !important;
}
/* JAKE'S BASE STYLING */
.wrapper {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-register {
	width: 500px;
	max-width: 500px;
	margin: auto;
	padding: 2em;
	text-align: left;
	background: white;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	border-radius: 5px;
}

.auth-logo {
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 100%;
	margin-bottom: 10% !important;
}

#auth-login {
	background-color: #0086c3 !important;
	color: white;
	width: 100%;
	border: none;
	padding: 0.5rem;
	border-radius: 100px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 1.25rem;
	transition: background-color 0.25s ease;
	margin-bottom: 10%;
}
#auth-login:hover {
	background-color: #29b6f6 !important;
	transition: background-color 0.25s ease;
}
#delete-button {
	background-color: red !important;
	color: white;
	width: 100%;
	border: none;
	padding: 0.5rem;
	border-radius: 100px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 1.25rem;
	transition: background-color 0.25s ease;
	margin: 2% 0%;
}

#update-button,
#create-button {
	color: white;
	width: 100%;
	border: none;
	padding: 0.5rem;
	border-radius: 100px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 1.25rem;
	transition: background-color 0.25s ease;
	margin: 2% 0%;
}
#create-button:hover {
	background-color: #29b6f6 !important;
	transition: background-color 0.25s ease;
}

#update-button:hover {
	background-color: #29b6f6 !important;
	transition: background-color 0.25s ease;
}

.auth-toggle {
	text-align: center;
}

h1,
h2,
h3,
h4 {
	font-family: "Quattrocento", serif;
	font-weight: 700;
}
img {
	max-width: 100%;
	width: 600px;
}
.postContainer {
	background: white;
	margin-bottom: 24px;
	max-width: 600px;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
}

.userHeader {
	padding: 16px;
}

.postActions {
	padding: 16px;
	display: flex;
	flex-direction: row;
}
.postDetails {
	padding: 0px 16px 16px 16px;
}

.userProfilePic {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100%;
}

.userName {
	margin-left: 14px;
	color: #0086c3;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}
.userName-description {
	color: #0086c3;
	font-weight: 500;
	font-family: "Poppins", sans-serif;
}

html * {
	font-family: "Poppins", sans-serif;
}

body {
	background-size: cover;
	background: #dbf9ff !important;
}

.navbar {
	background: white;
	margin-bottom: 35px;
	box-shadow: rgba(17, 12, 46, 0.1) 0px 0px 10px 0px;
}

.password-icon {
	position: relative;
	top: -30px;
	left: 93%;
	cursor: pointer;
	color: #73e8ff;
	transition: color 0.25s ease;
}
.password-icon:hover {
	color: #29b6f6;
	transition: color 0.25s ease;
}
.auth-toggle-link {
	font-weight: 500;
	color: #0086c3;
}

input {
	border: solid #73e8ff 1px !important;
	background-color: #73e8ff25 !important;
}
label {
	color: #263238;
}

.register-intro {
	text-align: center;
	margin-bottom: 5%;
}

#profile-image-upload {
	border: none !important;
	background-color: white !important;
}

#profile-pic {
	object-fit: cover;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 5%;
}
#post-pic {
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 300px;
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}
.post-pic {
	margin-right: -1rem !important;
	margin-left: -1rem !important;
}

.create-modal {
	padding-top: 0px !important;
}

#uploader {
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
	margin: auto;
}

label.custom-file-upload {
	background-color: #0086c3 !important;
	color: white;
	width: 75%;
	border: none;
	padding: 0.5rem;
	border-radius: 100px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.1rem;
	font-size: 1.25rem;
	transition: background-color 0.25s ease;
}

label.custom-file-upload:hover {
	background-color: #29b6f6 !important;
	transition: background-color 0.25s ease;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.password-icon {
		position: relative;
		top: -30px;
		left: 90%;
		cursor: pointer;
		color: #73e8ff;
		transition: color 0.25s ease;
	}
}

button.UserFeed.btn.btn-secondary {
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	padding: 20px;
	margin: 5px;
}

.btn.btn-secondary {
	color: #0086c3;
	background: #0086c3;
}

.nav-button:hover {
	color: #0074aa !important;
}
.nav-button:active {
	color: #0074aa !important;
}

.UserFeed {
	border: none !important;
}

img.userProfilePic {
	height: 4em;
	width: 4em;
	border: 4px solid #0086c3;
	padding: 2px;
	margin-bottom: 5px;
}

img.userFeedProfilePic {
	height: 200px;
	width: 200px;
	border: 4px solid #0086c3;
	padding: 2px;
	margin-bottom: 5px;
	border-radius: 100%;
	object-fit: cover;
}

div.nameAndProfile {
	padding-top: 14px;
	padding-bottom: 8px;
	padding-left: 10%;
	text-align: left;
}

.userFeedName {
	font-size: 40px;
	padding: 7%;
}

#search-button {
	color: white;
	background: #0086c3;
	border: none;
}

.filter {
	display: flex;
	justify-content: flex-end;
	max-width: 600px;
	margin: auto;
	margin-bottom: 15px;
}

.navbar-nav {
	align-items: center;
}

.container {
	padding-top: 100px;
}
.nav-button {
	border: none !important;
}

.nav-button {
	font-size: 2rem !important;
}
.btn:focus {
	box-shadow: none !important;
}
.right-options {
	column-gap: 40px;
	flex-basis: 275px;
}

.center-option {
	flex-grow: 1;
	align-items: center;
	justify-content: center;
}

.delete {
	margin-left: auto;
	padding: 0px 8px;
}
.edit {
	padding: 0px 8px;
}
.like-num {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.like-num p {
	margin: 0px;
}

.postMeta {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 0.8rem !important;
	opacity: 0.5;
	font-weight: 600;
}
.dot {
	margin: auto 5px;
}
.col-md-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 350px;
	margin-bottom: 25px;
}

.col-md-4 img {
	flex-shrink: 0;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}
select option:disabled {
	color: lightgray;
}

input[type="file"]::file-selector-button {
	border: none;
	background-color: #0086c3;
	color: #0086c3;
}

.modal.fade.show {
	background: #0086c375;
	backdrop-filter: blur(7px);
}

@media only screen and (max-width: 767px) {
	.nameAndProfile {
		padding: 0px !important;
	}
	img.userFeedProfilePic {
		margin: auto;
		display: block;
		width: 150px;
		height: 150px;
		margin-top: 25px;
	}
	.userFeedName {
		padding: 0px;
		font-size: 25px;
		text-align: center;
		margin: auto;
		display: block;
		margin-top: 25px;
	}
	.col-12 img {
		height: 350px;
		max-height: 350px;
	}
}
